@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Lista";
}

<h2>Visualizar</h2>

<div>
    @ViewData["pessoaId"]
    @ViewData["nome"]
    @ViewData["cpf"]
    @ViewData["email"]
    <br /><br />
    @ViewData["salvar"]
</div>
<div>

</div>
