@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Lista";
}
@if (@ViewData["codNome"].Equals("válido"))
{
    <script>
        document.getElementById('erroNome').style.display = "none";

    </script>
}
else
{
    <script>
        document.getElementById('erroNome').style.display = "block";

    </script>
}


<style>
    .info {
        color: white;
        padding: 20px 0px 20px;
    }

    .check {
        color: darkred;
        padding: 10px 0px 10px;
        font-weight:500;
        width: 100%;
    }
</style>
<h2 class="text-center" style="padding:20px 0px 30px;">Visualizar</h2>

<div style="display: flex; flex-direction: column;">

    <h2 class="text-center">@ViewData["nome"] @ViewData["sobrenome"]</h2>

    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around;
     background-color:dodgerblue; border-radius:50px; width:100%; padding:10px 0px 10px;">



        <div class="text-center info">
            <h3>Nome</h3>
            <p>
                @ViewData["nome"]
            </p>
            <br>
            <h3>Sobrenome</h3>
            <p>
                @ViewData["sobrenome"]
            </p>
        </div>
        <div class="text-center info">
            <h3>Data de Nascimento</h3>
            <p>
                @ViewData["nasc"]
            </p>
            <br>
            <h3>Idade</h3>
            <p>
                @ViewData["idade"]
            </p>

        </div>
        <div class="text-center info">
            <h3>Sexo</h3>
            <p>
                @ViewData["sexo"]
            </p>
            <br>
            <h3>CPF</h3>
            <p>
                @ViewData["cpf"]
            </p>
        </div>
    </div>
    <br>

    <div class="text-center check" style=" background-color: indianred; border-radius: 50px; width: 100%; padding: 20px 0px 30px;">

        <h2 class="text-center" style="color:darkred">Cadastro Inválido</h2>

        <div style=" font-family: Verdana; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; ">

            
            <div class="text-center check" id="erroNome">
                <p>Nome</p>
                <p>
                    @ViewData["codNome"]
                </p>
            </div>

            <div class="text-center check" id="erroSobrenome">
                <p>Sobrenome</p>
                <p>
                    @ViewData["codSobrenome"]
                </p>
            </div>          


            <div class="text-center check" id="erroNasc">
                <p>Data de Nascimento</p>
                <p>
                    @ViewData["codNasc"]
                </p>

            </div>

            <div class="text-center check" id="erroCPF">
                <p>CPF</p>
                <p>
                    @ViewData["codCPF"]
                </p>
            </div>

        </div>

        <p>Corrija os erros e tente novamente</p>

        <input   class="text-center btn btn-danger" type="button" value="Novo Cadastro" onclick="location.href='@Url.Action("Cadastro", "Home")'" >
       
    </div>

    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around;
     background-color:lightgreen; border-radius:50px; width:100%;">

        <h2 style="color:green">Cadastro válido</h2>


    </div>


</div>

<script>
    window.onload = function checar() {
    string codNome = @ViewData["codNome"];
    string codSobrenome = @ViewData["codSobrenome"];
    string codCPF = @ViewData["codCPF"];
    string codNasc = @ViewData["codNasc"];
        alert('aaaaaa');
    }
    //if (codNome.Equals("Válido")) {
        
    //}


    //if ())  {
        
        //document.getElementById('erroNome').style.display = "none";
    //}
    

</script>